services:
  alertmanager:
    image: prom/alertmanager:latest
    ports:
      - "9092:9093"
    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml
      - ./alertmanager.tmpl:/etc/alertmanager/alertmanager.tmpl
    command:
      - '--config.file=/etc/alertmanager/alertmanager.yml'
  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - ./redis.conf:/etc/redis/redis.conf
    command: ["redis-server", "/etc/redis/redis.conf"]
  lark-app:
    build:
      context: ../
      dockerfile: docker/Dockerfile
    env_file:
      - ../.env
    ports:
      - "8080:8080"
    depends_on:
      - alertmanager
      - redis
    environment:
      - ALERTMANAGER_URL=http://alertmanager:9093